%h1 Showing <%= singular_table_name %>
%table.table
  %thead
    %tr.row
      %th.col-sm-1= 'Name'
      %th= 'Value'
  %tbody
<% for attribute in attributes -%>
    %tr.row
      %td.col-sm-1='<%= attribute.human_name %>'
      %td=@<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
  

.actions
  .btn-group
    = link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-default btn-sm'
    = link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default btn-sm'